In [2]:
import numpy as np
import seaborn as sns
import pandas as pd

In [7]:
data = pd.read_csv("model/survey.csv")
data.head()

  Jenis Kelamin  Umur Lokasi    Mood Rekomendasi Makanan Rekomendasi Minuman
0   Laki - Laki    17    NaN  Senang         Nasi goreng     Minuman bersoda
1   Laki - Laki    17    NaN  Senang             Cokelat     Minuman bersoda
2   Laki - Laki    17    NaN   Marah           Mie pedas         Air mineral
3   Laki - Laki    20    NaN   Marah              Seblak         Air mineral
4   Laki - Laki    25    NaN   Sedih       Sayur-sayuran                 Teh

In [10]:
data['Lokasi'] = data['Lokasi'].fillna("Tidak Tersedia")
data.head()

,Jenis Kelamin,Umur,Lokasi,Mood,Rekomendasi Makanan,Rekomendasi Minuman
0,Laki - Laki,17,Tidak Tersedia,Senang,Nasi goreng,Minuman bersoda
1,Laki - Laki,17,Tidak Tersedia,Senang,Cokelat,Minuman bersoda
2,Laki - Laki,17,Tidak Tersedia,Marah,Mie pedas,Air mineral
3,Laki - Laki,20,Tidak Tersedia,Marah,Seblak,Air mineral
4,Laki - Laki,25,Tidak Tersedia,Sedih,Sayur-sayuran,Teh